<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="{{keywords}}" />
        <title>Sessions</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Restart</a></li>
            </ul>
        </nav>
        {{{body}}}
        <footer class="footer">
            <p>Student: Jose Lara <span>ID: 10416385</span></p>
        </footer>
    </body>
</html>