<main class="page-section">
    <div>
        <h1 class="title">{{title}}</h1>
        <p>This website searches for people first or last name. If the person is found it will return a list of matching parties upto 20 items.</p>
    </div>
    <div class="searchBar">
        <form action="/search" method="POST">
            <Label for="name">Enter a name: </Label><input type="text" name="name" id="name">
            <input type="submit" value="Submit">
        </form>
    </div>
</main>